{% extends 'store/base.html' %}
{% load staticfiles %}
<html lang="en">
  <head>
  </head>
  <body>
  {% block content %}
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <div class="head">
        YOUR SHOPPING CART
    </div>
    <div class="table-responsive">
        <table id="cart-table" class="table">
            <thead>
                <tr>
                    <th class="first">
                        Item
                    </th>

                    <th class="second">

                    </th>

                    <th class="third">
                        Price
                    </th>

                    <th class="forth">
                        Quantity
                    </th>

                    <th class="fifth">
                        Total
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for item in cart_items %}
                    <tr id="{{item.item}}">
                        <th class="first item-img">
                            <div>
                                <img src={{item.item.image.url}} alt="">
                            </div>
                        </th>

                        <th class="second item-mod">
                            <div class="mod">{{item.item}}</div>
                            <div class="rmv" rmv_id="{{item.item}}"> Remove</div>
                        </th>

                        <th class="third item-price opt" id="{{item.item}}_PRICE" >
                            ${{item.item.prize}}
                        </th>

                        <th class="forth item-numb">
                            <select class="form-control" price-id="{{item.item}}_PRICE" total-id ="{{item.item}}_TOTAL">
                                <option onclick="Show()">1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </th>

                        <th class="fifth item-total" id="{{item.item}}_TOTAL">
                            ${{item.item.prize}}
                        </th>
                    </tr>
                {% endfor %}
                <!--<tr id="CO-AXIAL">
                    <th class="first item-img">
                        <div>
                            <img src="{% static "images/De_Villa4.png" %}" alt="">
                        </div>
                    </th>

                    <th class="second item-mod">
                        <div class="mod">TOURBILLON CO-AXIAL LIMITED EDITION</div>
                        <a href="#"><div class="rmv"> Remove</div> </a>
                    </th>

                    <th class="third item-price opt" id="CO-AXIAL_PRICE" >
                        $850.00
                    </th>

                    <th class="forth item-numb">
                        <select class="form-control" price-id="CO-AXIAL_PRICE" total-id ="CO-AXIAL_TOTAL">
                            <option onclick="Show()">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </th>

                    <th class="fifth item-total" id="CO-AXIAL_TOTAL">
                        $850.00
                    </th>
                </tr> -->
            </tbody>
        </table>
      </div>
  {% endblock content %}
  </body>
</html>