{% extends 'store/base.html' %}
{% load staticfiles %}
<html lang="en">
  <head>
  </head>
  <body>
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <div class="head">
        YOUR SHOPPING CART
    </div>
    <div class="table-responsive">
        <table id="cart-table" class="table">
            <thead>
                <tr>
                    <th class="first">
                        Item
                    </th>

                    <th class="second">

                    </th>

                    <th class="third">
                        Price
                    </th>

                    <th class="forth">
                        Quantity
                    </th>

                    <th class="fifth">
                        Total
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for item in cart_items %}
                    <tr id="{{item.item}}" class="goods_tr">
                        <th class="first item-img goods_th">
                            <div>
                                <img src={{item.item.image.url}} alt="">
                            </div>
                        </th>

                        <th class="second item-mod goods_th">
                            <div class="mod">{{item.item}}</div>
                            <div class="rmv" rmv_id="{{item.item}}"> Remove</div>
                        </th>

                        <th class="third item-price opt goods_th" id="{{item.item}}_PRICE">
                            ${{item.item.prize}}
                        </th>

                        <th class="forth item-numb goods_th">
                            <select class="form-control" price-id="{{item.item}}_PRICE" total-id ="{{item.item}}_TOTAL">
                                <option onclick="Show()">1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </th>

                        <th class="fifth item-total goods_th" id="{{item.item}}_TOTAL" tot-id={{item.item}}>
                            ${{item.item.prize}}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="total_table">
        	<tbody>
        		<tr class="total">
                	<th class="first">
                	</th>
                	<th class="second">
                	</th>
                	<th class="third-forth total_name border">
                	TOTAL COST
                	</th>
                	<th class="fifth total_cost border">
                	</th>
                </tr>
            </tbody>
        </table>

        <table class="paypal">
        	<tbody>
        		<tr class="total">
                	<th class="first">
                	</th>
                	<th class="second">
                	<th class="third-forth total_name border">
                		PAY WITH PAYPAL
                	</th>

                	<th class="paypal_img border">
                		<img src="{% static "images/paypal.gif" %}">
                	</th>
                </tr>
            </tbody>
        </table>

      </div>
  {% endblock content %}
  </body>
</html>