{% extends 'store/base.html' %}
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {# <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/kamstore.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <title>KAM</title>
  </head>
  <body>  
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/kamstore.css' %}">
   <div id="carousel" class="carousel slide">
    <!-- Индикаторы слайдов -->
    <ol class="carousel-indicators">
      <li class="active" data-target="#carousel" data-slide-to="0"> </li>
      <li data-target="#carousel" data-slide-to="1"> </li>
      <li data-target="#carousel" data-slide-to="2"> </li>
        <li data-target="#carousel" data-slide-to="3"> </li>

    </ol>

    <!-- Слайды -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="{% static "images/main_slider4.jpg" %}" alt="">
        <div class="carousel-caption car">
          <!--<h3> Третий слайд </h3>
          <p> Описание третьего слайда </p> -->
        </div>
      </div>

      <div class="item">
        <img src="{% static "images/main_slider1.jpg" %}" alt="">
        <div class="carousel-caption">
          <!--<h3> Третий слайд </h3>
          <p> Описание третьего слайда </p> -->
        </div>
      </div>

      <div class="item">
        <img src="{% static "images/main_slider8.jpg" %}" alt="">
        <div class="carousel-caption">
          <!--<h3> Третий слайд </h3>
          <p> Описание третьего слайда </p> -->
        </div>
      </div>

        <div class="item">
        <img src="{% static "images/main_slider7.jpg" %}" alt="">
        <div class="carousel-caption">
          <!--<h3> Третий слайд </h3>
          <p> Описание третьего слайда </p> -->
        </div>
      </div>
    </div>
      <!--Стрелки -->
     <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"> </span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"> </span>
    </a>
  </div>
   <script>
        $('.carousel').carousel({
        interval: 5000,
        })
    </script>

   <div class="container-fluid gender_type">
      <div class="row">
          <div class="col-md-6 col-lg-6 gender">
              <a href="http://127.0.0.1:8000/Men">
                  <img src="{% static "images/men_back.jpg" %}" alt="">
                  <div> MENS WATCHES </div>
              </a>
          </div>

          <div class="col-md-6 col-lg-6 gender">
            <a href="http://127.0.0.1:8000/Women">
                <img src="{% static "images/women_back.jpg" %}" alt="">
                <div> LADIES WATCHES </div>
            </a>
          </div
      </div>
    </div>

    <div class="container-fluid Choice">
      <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 choice_type">
            <a href="#" class="active_choice"> TOP TRENDING </a>
          </div>

          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 choice_type non_active_choice middle">
            <a href="#"> NEW ARRIVALS </a>
          </div>

          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 choice_type non_active_choice">
            <a href="#"> SALES </a>
          </div>
      </div>
    </div>

    <div class="container-fluid Trends">
      <div class="row"> {% for watch in watches %}
          <div class="col-md-6 col-lg-3 col-sm-6 col-xs-6 watches">
            <p><img src="{{ watch.image.url }}"></p>
            <div class="watches-name"> {{ watch.model }} </div>
            <!--<h2>{{ watch.model }}</h2> -->
          </div> {% endfor %}

        </div>
    </div>

   {% endblock content %}
  </body>
</html>
