.item-prize, .item-numb {
    padding-top:80px !important;
    font-size:16px;
    color:#000;
    font-family:Archivo Narrow, sans-serif;
    opacity:0.6 !important;
}

.date {
    padding-top:80px !important;
    font-size:16px;
    color:#000;
    font-family:Archivo Narrow, sans-serif
}


.item-total, .item-prize, .item-numb, .date, .first, .second, .third, .forth, .fifth, .six {
    text-align:center;
}

a:hover {
	opacity:1;
}

.six {
    font-size:18px;
    padding-top:79px;
}

.first {
    width:15%;
}

.second {
    width:35%;
}

.third{
    width:15%;
}

.forth  {
    width:10%;
}

.fifth {
    width:10%;
}

.six {
    width:15%;
}

.table-responsive {
	margin-bottom:100px;
}

.head {
    font-family:TeXGyreHeros_bold, Arial, Verdana;
    font-size:24px;
    color:#333333;
    margin-top:60px;
    margin-left:10%;
    font-weight:500;
    border:0;
}